# compiled output
/backend/dist
/frontend/dist

# test
/backend/test
/frontend/test

# logs
/backend/logs
/frontend/logs

# IDEs and editors
/backend/.idea
/frontend/.idea


# env
/backend/.env
/frontend/.env

# IDE - VSCode
/backend/.vscode
/frontend/.vscode
/backend/node_modules
/frontend/node_modules